.html,head,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}
.gallery{
    margin: 10px;
    border: 1px solid #ccc;
    width: 50%;
    text-align: center;
    height: 40%;
    padding: 0px;
    margin-left: 380px;
    
}
.gallery:hover {
    border: 100% solid #777;
    transform: scale(1.04);
}
.gallery img{
    width: 100%;
    height: 100%;
    
}
.header{
    border:solid blanchedalmond;
    height: 20%;
    background-color: blanchedalmond;
}

#gt{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    font-size: 250%;
    text-align: center;
    
    
}

.top{
    background-color:  #bc986a;
    overflow: hidden;
    top: 0px;
}

.top a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

.top a:hover{
    background-color: lightgray;
    color: black;
}

.top a.active{
    background-color: #daad86;
    color: white;
}
.des{
   font-size: 150%; 
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.para{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    margin-left: 30%;
    margin-right: 30%;
}